@import 'tailwindcss';
@import 'tw-animate-css';

* {
  cursor: none !important;
  scrollbar-width: thin;
  scrollbar-color: rgb(41, 41, 41) black;
  -ms-overflow-style: thin;
}

a,
button,
input,
textarea,
select,
[role='button'],
[data-cursor='hover'] {
  cursor: none !important;
}

iframe,
video,
canvas,
svg {
  cursor: none !important;
}

:root {
  /* =========================
     Neutrals & Base Colors
     ========================= */
  --color-cream: #faf7f2;
  --color-sand: #e8dcc8;
  --color-sand-light: #faf5ee;
  --color-vanilla-cream: #fef3c7;
  --color-peach-cream: #fff7ed;

  --color-ice-white: #f0f9ff;
  --color-rose-white: #fff1f2;
  --color-lilac-white: #faf5ff;

  --color-cool-grey: #cbd5e1;

  --color-steel: #334155;
  --color-charcoal: #18181b;
  --color-dark-text: #1f1a16;

  /* =========================
     Purples & Lavenders
     ========================= */
  --color-purple-rich: #4c1d95;
  --color-purple-soft: #c4b5fd;
  --color-lavender-soft: #e9d5ff;

  /* =========================
     Blues
     ========================= */
  --color-blue-deep: #1e40af;

  /* =========================
     Greens & Teals
     ========================= */
  --color-teal: #14b8a6;
  --color-sea-green: #0d9488;
  --color-mint: #99f6e4;

  /* =========================
     Reds & Pinks (Accents)
     ========================= */
  --color-rose-deep: #be123c;
}

@theme {
  --color-cream: var(--color-cream);
  --color-sand: var(--color-sand);
  --color-sand-light: var(--color-sand-light);
  --color-vanilla-cream: var(--color-vanilla-cream);
  --color-peach-cream: var(--color-peach-cream);
  --color-ice-white: var(--color-ice-white);
  --color-rose-white: var(--color-rose-white);
  --color-lilac-white: var(--color-lilac-white);
  --color-cool-grey: var(--color-cool-grey);

  --color-steel: var(--color-steel);
  --color-charcoal: var(--color-charcoal);
  --color-dark-text: var(--color-dark-text);

  --color-purple-rich: var(--color-purple-rich);
  --color-purple-soft: var(--color-purple-soft);
  --color-lavender-soft: var(--color-lavender-soft);

  --color-blue-deep: var(--color-blue-deep);

  --color-teal: var(--color-teal);
  --color-sea-green: var(--color-sea-green);
  --color-mint: var(--color-mint);

  --color-rose-deep: var(--color-rose-deep);

  --font-centrion: var(--font-centrion);
  --font-drunk-millionaire: var(--font-drunk-millionaire);
  --font-gillian-joe: var(--font-gillian-joe);
  --font-grindy-brush: var(--font-grindy-brush);
  --font-spray-paint-demo: var(--font-spray-paint-demo);

  --font-protest-revolution: var(--font-protest-revolution);
  --font-nosifer: var(--font-nosifer);

  --font-rubik-doodle-shadow: var(--font-rubik-doodle-shadow);
  --font-rubik-glitch-pop: var(--font-rubik-glitch-pop);
  --font-rubik-wet-paint: var(--font-rubik-wet-paint);
  --font-rubik-marker-hatch: var(--font-rubik-marker-hatch);
  --font-rubik-maps: var(--font-rubik-maps);

  --font-medieval-sharp: var(--font-medieval-sharp);
  --font-oi: var(--font-oi);
}

body {
  font-family: var(--font-abegnale), sans-serif;
  @apply text-[clamp(1rem,1.5rem,2rem)] leading-tight font-normal tracking-wide;
}

/*? Will p text be different from body ? */
p {
  font-family: var(--font-abegnale), sans-serif;
  @apply text-[clamp(1rem,1.5rem,2rem)] leading-tight font-normal tracking-wide;
}

/* p {
  @apply text-md font-protest-revolution;
} */

@media (prefers-reduced-motion: reduce) {
  body,
  p,
  a {
    transition: none;
    text-shadow: none;
  }
}

h2 {
  @apply font-grindy-brush font-extrabold;
}

h3 {
  @apply font-grindy-brush font-extrabold;
}

.hero svg path {
  fill: transparent;
  stroke: white;
  stroke-width: 1.5;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: textAnimation 5s ease-in-out 1 forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 400;
    fill: transparent;
  }

  80% {
    stroke-dashoffset: 200;
    fill: transparent;
  }

  100% {
    stroke-dashoffset: 0;
    fill: white;
  }
}

@layer utilities {
  .outline-text {
    -webkit-text-stroke: 1px white;
    text-shadow:
      0 0 10px rgba(255, 255, 255, 0.35),
      0 0 24px rgba(255, 255, 255, 0.15);
  }
}

.mask-layer {
  position: absolute;
  inset: 0;

  background-image: url('/hero/bg.jpg');
  background-size: contain;
  background-position: center;
  filter: brightness(1.2) blur(2px);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.mask-0 {
  mask-image: url('/button/0.png');
  -webkit-mask-image: url('/button/0.png');
  mask-size: 100% auto;
  mask-position: 50% 20%;
}

.mask-1 {
  mask-image: url('/button/1.png');
  -webkit-mask-image: url('/button/1.png');
  mask-size: auto 60%;
  mask-position: 20% 40%;
  transition: mask-position 0.6s ease-in-out;
}

.mask-2 {
  mask-image: url('/button/2.png');
  -webkit-mask-image: url('/button/2.png');
  mask-size: auto 60%;
  mask-position: 65% 40%;
  transition: mask-position 1.2s ease-in-out;
}

.mask-3 {
  mask-image: url('/button/3.png');
  -webkit-mask-image: url('/button/3.png');
  mask-size: auto 60%;
  mask-position: 80% 30%;
  transition: mask-position 0.8s ease-out;
}

.masked-wrapper:hover .mask-1 {
  mask-position: 20% 100%;
}

.masked-wrapper:hover .mask-2 {
  mask-position: 65% 100%;
}

.masked-wrapper:hover .mask-3 {
  mask-position: 80% 100%;
}
